<h1>Welcome to this app!</h1>



<div>


  <h3>make a search bar here</h3>
  <%= form_tag(user_places_path) do %>
  Country <%= text_field_tag :country %>
  <%= submit_tag 'Create' %>
<% end %>



</div>











<div>

  <h3>Keep track of older cities</h3>
</div>
