<div class="banner">

  <h1>Welcome to this app!</h1>

</div>






<div>


  <div class="search-bar">
    <%= form_tag(user_places_path) do %>
    <%= text_field_tag :country %>
    <%= submit_tag 'Search', class: "search-button" %>
    <% end %>
  </div>



</div>











<div class = "footer">

  <h3>Last selected locations</h3>
  <div class="inline-places">
    <% current_user.user_places.last(3).each do |place| %>
    <div class="last-place">
      <%= place.place.country %>
    </div>
    <% end %>
  </div>
</div>
