

  <%= form_tag(user_allergies_path) do %>
  Allergy <%= text_field_tag :allergy %>
  <%= submit_tag 'Create' %>
<% end %>

<% @allergies.first(10).each do |allergy| %>
<p> <%= allergy.name %></p>

<% end %>
