.search-bar{
  padding-left: 20px;
  padding-right: 20px;
  height: 50vh;
  display: flex;
  align-items: center;

}

.search-button{
  background-color: #D74A5E;
  color:white;
  padding: 15px 25px 15px 25px;
}

#country{
  border: 1px solid #D74A5E;
}
